<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" (click)="isMenuCollapsed = !isMenuCollapsed"
              data-toggle="collapse" data-target=".navbar-collapse"><span
        class="sr-only" i18n="Toggle navigation|Toggle navigation button@@toggleNavButton">Toggle navigation</span>
        <span class="sr-only"
              i18n="Toggle navigation|Toggle navigation button@@toggleNavButton">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <img alt="L.I.S.A." src="/images/logo.png">
      </a>
    </div>
    <div class="collapse navbar-collapse" (collapsed)="collapsed($event)"
         (expanded)="expanded($event)"
         [collapse]="isMenuCollapsed">
      <ul class="nav navbar-nav">
        <li routerLink="/home" routerLinkActive="active" (click)="isMenuCollapsed = true"><a
          class="pointer" i18n="Menu home|Home menu label@@homeMenu">Home</a>
        </li>
        <li routerLink="/scenes" routerLinkActive="active" (click)="isMenuCollapsed = true">
          <a class="pointer" i18n="Menu scenes|Scenes menu label@@scenesMenu">Scenes</a>
        </li>
        <li routerLink="/plugins" routerLinkActive="active" (click)="isMenuCollapsed = true">
          <a class="pointer" i18n="Menu plugins|Plugins menu label@@pluginsMenu">Plugins</a>
        </li>
        <li routerLink="/shop" routerLinkActive="active" (click)="isMenuCollapsed = true">
          <a class="pointer" i18n="Menu shop|Shop menu label@@shopMenu">Shop</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li (click)="toggleSpeech()" [ngClass]="{active: _speechService.isListening}">
          <a class="pointer"><span class="glyphicon glyphicon-record"></span></a>
        </li>
        <li routerLink="/profile" routerLinkActive="active" (click)="isMenuCollapsed = true">
          <a class="pointer"><span class="glyphicon glyphicon-user"></span>
            <span i18n="Menu profile|Profile menu label@@profileMenu">Profile</span></a></li>
        <li><a class="pointer" (click)="logout()"><span
          class="glyphicon glyphicon-log-out"></span> <span
          i18n="Menu logout|Logout menu label@@logoutMenu">Logout</span></a></li>
        <li>
          <a id="dLabel" role="button"
             (click)="isNotificationCollapsed = !isNotificationCollapsed; isMenuCollapsed = true"
             data-toggle="dropdown" data-target="#">
            <i class="glyphicon glyphicon-bell"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<ul class="dropdown-menu notifications" role="menu" aria-labelledby="dLabel" (collapsed)="collapsed($event)"
    (expanded)="expanded($event)"
    [collapse]="isNotificationCollapsed">

  <div class="notification-heading">
    <h4 class="menu-title" i18n="Title notification|Title notification label@@notificationTitle">Notifications</h4>
    <h4 class="menu-title pull-right" routerLink="/notifications" routerLinkActive="active">
      <a href="#">
        <span i18n="Link view all|Link view all label@@viewAllLink">View all</span>
        <i class="glyphicon glyphicon-circle-arrow-right"></i>
      </a>
    </h4>
  </div>
  <li class="divider"></li>
  <div class="notifications-wrapper">
    <a class="content" href="#">

      <div class="notification-item">
        <h4 class="item-title">Evaluation Deadline 1 · day ago</h4>
        <p class="item-info">Marketing 101, Video Assignment</p>
      </div>

    </a>
    <a class="content" href="#">
      <div class="notification-item">
        <h4 class="item-title">Evaluation Deadline 1 · day ago</h4>
        <p class="item-info">Marketing 101, Video Assignment</p>
      </div>
    </a>
    <a class="content" href="#">
      <div class="notification-item">
        <h4 class="item-title">Evaluation Deadline 1 • day ago</h4>
        <p class="item-info">Marketing 101, Video Assignment</p>
      </div>
    </a>
    <a class="content" href="#">
      <div class="notification-item">
        <h4 class="item-title">Evaluation Deadline 1 • day ago</h4>
        <p class="item-info">Marketing 101, Video Assignment</p>
      </div>

    </a>
    <a class="content" href="#">
      <div class="notification-item">
        <h4 class="item-title">Evaluation Deadline 1 • day ago</h4>
        <p class="item-info">Marketing 101, Video Assignment</p>
      </div>
    </a>
    <a class="content" href="#">
      <div class="notification-item">
        <h4 class="item-title">Evaluation Deadline 1 • day ago</h4>
        <p class="item-info">Marketing 101, Video Assignment</p>
      </div>
    </a>
  </div>
  <li class="divider"></li>
  <div class="notification-footer">
    <h4 class="menu-title" routerLink="/notifications" routerLinkActive="active">
      <a href="#"><span i18n="Link view all|Link view all label@@viewAllLink">View all</span><i
        class="glyphicon glyphicon-circle-arrow-right"></i></a>
    </h4>
  </div>
</ul>
