@import "../../../variables";

.left-menu {
  background: white;
  margin-top: 10px;
  padding: 0;
}

dashboard.disabled /deep/ lisa-widget-header {
  cursor: auto;
}

.left-menu li {
  border-bottom: 1px solid #444;
  cursor: pointer;
  transition: transform .5s ease-in-out;
  margin: 0;
}

.left-menu li:last-child {
  border-bottom: none;
}

.left-menu li a {
  border-radius: 0;
}

.left-menu .glyphicon {
  margin-right: 10px;
}

.left-menu li a {
  text-transform: uppercase;
}

.left-menu li.rooms.active .pull-right, .left-menu li.rooms.roomOpen .pull-right {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
}

.left-menu li .pull-right {
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}

.left-menu .rooms-list li .pull-right {
  cursor: pointer;
  color: $lightTextColor;
  padding: 0 5px;
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}

.left-menu .rooms-list li:hover .pull-right, .left-menu .rooms-list li a.active .pull-right {
  color: $darkTextColor;
}

.left-menu .rooms-list li a.active {
  background: #eeeeee;
  color: $darkTextColor;
  font-weight: bold;
}

:host /deep/ .widget {
  background: white;
  padding: 0;
}

.left-menu .rooms-list li a {
  text-transform: none;
}

.rooms-list {
  height: 0;
  -webkit-transition: height 0.8s ease-in-out;
  -moz-transition: height 0.8s ease-in-out;
  -o-transition: height 0.8s ease-in-out;
  transition: height 0.8s ease-in-out;
  overflow: hidden;
}

.rooms-list li a input {
  width: 70%;
  margin: 0;
  padding: 0;
  border: none;
  color: $darkTextColor;
  background-color: transparent;
}

.rooms-list li:first-child {
  border-top: 1px solid grey !important;
}

.rooms-list li, .add-room-container {
  position: relative;
  border-bottom: 1px solid grey !important;
  cursor: pointer;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.rooms-list li a {
  color: $darkTextColor;
  padding: 10px 10px 10px 45px;
}

.rooms-list li a:hover {
  font-weight: bold;
}

.add-room-container {
  border-bottom: none;
  padding: 0 0 0 35px;
  height: 40px;
  overflow: hidden;
  position: relative;
}

.add-room-container::after {
  content: "+";
  position: absolute;
  right: 18px;
  top: -5px;
  font-size: 35px;
  color: $lightTextColor;
}

.add-room-container input {
  border: none;
  height: 38px;
  width: 100%;
  font-size: 16px;
  color: $lightTextColor;
}

.floating-button {
  background-color: $themeColor;
  position: absolute;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  right: 20px;
  bottom: 20px;
  color: white;
  text-align: center;
  font-size: 30px;
  cursor: pointer;
}

.floating-button:hover {
  background-color: $themeColorDarker;

}
