<div class="row">

  <!-- Navigation Buttons -->
  <div class="col-md-3 left-menu shadow-box">
    <ul class="nav nav-pills nav-stacked">
      <li [ngClass]="{'active': _currentTab === tabType.FAV}">
        <a (click)="loadFavorites()">
          <span class="glyphicon glyphicon-star"></span><span
          i18n="SubMenu favorites|Favorites sub menu label@@favoritesSubmenu">Favorites</span>
          <span class="glyphicon glyphicon-menu-right pull-right"></span>
        </a>
      </li>
      <li class="rooms" [ngClass]="{'active': _currentTab === tabType.ROOMS, 'roomOpen': _roomsListOpen}">
        <a (click)="toggleRooms()">
          <span class="glyphicon glyphicon-home"></span><span i18n="SubMenu rooms|Rooms sub menu label@@roomsSubmenu">Rooms</span>
          <span class="glyphicon glyphicon-menu-right pull-right"></span>
        </a>
        <div class="rooms-list" #roomsList>
          <ul class="nav nav-pills nav-stacked">
            <li *ngFor="let room of _rooms">

              <a *ngIf="_currentEditedRoom!=room" (click)="retrieveDevicesForRoom(room)"
                 [ngClass]="{'active': _currentSelectedRoom == room}">
                <span>{{room.name}}</span>
                <span (click)="editRoom(room)" class="glyphicon glyphicon-pencil pull-right"></span>
              </a>
              <a *ngIf="_currentEditedRoom==room">
                <input #nameInput focus (keyup.enter)="updateRoom(room, nameInput.value)" value="{{room.name}}"/>
                <span (click)="clearEditRoom()" class="glyphicon glyphicon-remove pull-right"></span>
                <span (click)="askForRemoveRoom(room)" class="glyphicon glyphicon-trash pull-right"></span>
              </a>
            </li>
          </ul>
          <div class="add-room-container" (click)="addRoom($event)">
            <input #roomInput (keyup.enter)="addRoom($event)" type="text"
                   i18n-placeholder="Placeholder add room|Placeholder add room input@@addRoomPlaceholder"
                   placeholder="Add room"/>
          </div>
        </div>
      </li>
      <li [ngClass]="{'active': _currentTab === tabType.NEW_DEVICES}">
        <a (click)="loadNewDevices()">
          <span class="glyphicon glyphicon-dashboard"></span><span
          i18n="SubMenu new devices|New devices sub menu label@@newDevicesSubmenu">New devices</span>
          <span class="glyphicon glyphicon-menu-right pull-right"></span>
        </a>
      </li>
    </ul>
  </div>

  <!-- Content -->
  <div class="col-md-9">
    <div class="tab-content">
      <dashboard #dashboard (onOrderChange)="saveWidgetOrder($event)" [margin]="dashboardMargin"
                 [widgetsSize]="widgetsSize">
      </dashboard>
    </div>
  </div>
</div>

<confirm-modal #modalDeleteRoom *ngIf="_currentEditedRoom">
  Are you sure you want to delete {{_currentEditedRoom.name}} ?
</confirm-modal>
<lisa-add-device-modal #modalAddDevice>

</lisa-add-device-modal>
<div class="floating-button" (click)="showAddDevice()">
  +
</div>
