@import "../../../../variables.scss";

div {
  position: relative;
}

.add-device-mask {
  z-index: 1031;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.search {
  margin: 10px 0;
  width: 100%;
  padding-left: 25px;
}

.close {
  position: absolute;
  top: 15px;
  right: 20px;
  z-index: 1;
  opacity: 1;
}

.search-icon {
  transition: all 0.7s ease-out;
}

.search:focus + .search-icon {
  color: $themeColor;
}

.panel-group {
  max-height: 460px;
  overflow: auto;
  display: block;
}

.plugin-device {
  border: 1px solid $themeColor;
  padding: 10px;
  margin: 5px;
  float: left;
  text-align: center;
  max-width: 135px;
  cursor: pointer;
}

.plugin-device img {
  width: 90px;
  height: 90px;
  margin-bottom: 10px;
}

.search-container, .list-container, .settings-container, .image-container {
  width: 100%;
}

.scrollable {
  height: 100%;
  overflow: scroll;
}

.add-device-content {
  z-index: 1031;
  width: 95%;
  max-width: 800px;
  height: 600px;
  display: flex;
  background: white;
  top: 50%;
  left: 50%;
  position: fixed;
  padding: 20px;
  transform: translate(-50%, -55%);
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translate(0%, -50%);
}

.form-buttons {
  text-align: right;
}

label {
  user-select: none;
  cursor: pointer;
}

.flex_column {
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

.flex_1 {
  flex: 1;
}

.flex_button {
  align-self: flex-end;
}
