/* You can add global styles to this file, and also import other style files */
@charset "UTF-8";

@import "variables";

@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
  padding-top: 60px;
}

.shadow-box {
  padding: 20px;
  -webkit-box-shadow: 0 0 10px #CCC;
  -moz-box-shadow: 0 0 10px #CCC;
  box-shadow: 0 0 10px #CCC;
}

.left-menu li a {
  text-transform: uppercase;
}

.left-menu .glyphicon {
  margin-right: 5px;
}

.pointer {
  cursor: pointer;
}
