$backgroundColor: #ecf0f1;
$themeColor: #1bbc9b;
$themeColorDarker: darken(#1bbc9b, 10);
$defaultPadding: 15px;
$darkColor: #252525;
$darkTextColor: $darkColor;
$lightTextColor: #808080;

$disableColor: #cfcfcf;
$lightBgColor: #bec3c7;

$font-family-sans-serif: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif !default;

$icon-font-path: "../node_modules/bootstrap-sass/assets/fonts/bootstrap/";
$brand-primary: $themeColor;
//$headings-color: $brand-primary;
$body-bg: $backgroundColor;
